# Exclude everything
/*

# Except for default project files
!/.github
# (forgejo too)
!/.forgejo
!/build-aux
!/cmake
!/data
!/src
!.clang-format
!.gersemirc
!.gitignore
!buildspec.json
!CMakeLists.txt
!CMakePresets.json
!LICENSE
!README.md

# And meta files
!/meta

# Wiki files too
!/wiki
!/wiki.old

# Exclude lock files
*.lock.json

# Exclude macOS legacy resource forks
.DS_Store

# Exclude CMake build number cache
/cmake/.CMakeBuildNumber
